<div class="jumbotron">
	<form name="emailForm">
		<input class="form-control" type="text" name="de"
			ng-model="email.from" placeholder="De" ng-required="true"
			ng-minlength="3" /> <input class="form-control" type="text"
			name="assunto" ng-model="email.subject" placeholder="Assunto"
			ng-required="true" ng-minlength="10" />
		<textarea class="form-control" name="mensagem"
			ng-model="email.message" placeholder="Mensagem" ng-required="true"
			ng-minlength="20"></textarea>
	</form>
	<div ng-messages="emailForm.de.$error"
		ng-show="emailForm.de.$invalid && emailForm.de.$dirty"
		class="alert alert-danger">
		<span ng-message="required">Por favor, preencha o campo "de"!</span> <span
			ng-message="minlength">O campo "de" deve ter no minimo 3
			caracteres.</span>
	</div>
	<div ng-messages="emailForm.assunto.$error"
		ng-show="emailForm.assunto.$invalid && emailForm.assunto.$dirty"
		class="alert alert-danger">
		<span ng-message="required">Por favor, preencha o campo
			"assunto"!</span> <span ng-message="minlength">O campo "assunto" deve
			ter no minimo 10 caracteres.</span>
	</div>
	<div ng-messages="emailForm.mensagem.$error"
		ng-show="emailForm.mensagem.$invalid && emailForm.mensagem.$dirty"
		class="alert alert-danger">
		<span ng-message="required">Por favor, preencha o campo
			"mensagem"!</span> <span ng-message="minlength">O campo "mensagem"
			deve ter no minimo 20 caracteres.</span>
	</div>

	<button class="btn btn-primary btn-block"
		ng-click="adicionarEmail(email)" ng-disabled="emailForm.$invalid">Adicionar
		E-mail</button>
	<a class="btn btn-primary btn-block" href="#/listaEmails">Voltar</a>
</div>